body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.box {
  background: #ff6600;
  border-radius: 0.5em;
  width: 320px;
  margin: 30px auto;
  padding: 0.8em 1em;
}
.box h1 {
  margin: 0;
  color: #333333;
  font-size: 2em;
  line-height: 1.4em;
}
.box p {
  margin: 0;
  color: #993d00;
}
